<mat-card>
  <mat-card-header>
    <!--<div mat-card-avater class="avatar-pic"></div>-->
      <mat-card-title>Développeuse & Développeur à table</mat-card-title>
      <mat-card-subtitle>Qui mange bien code mieux</mat-card-subtitle>
  </mat-card-header>
  <img [src]="people" alt="Photo of people eating">
  <mat-card-content>
    <h1>Blablabla</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima perferendis ipsam corporis consequuntur magnam fugit ad qui sequi distinctio vel? Ipsam, cupiditate! Obcaecati similique corrupti cupiditate repellendus dolore voluptatum fugit!</p>
  </mat-card-content>

</mat-card>